services:
  quebec-core:
    restart: unless-stopped
    container_name: quebec-core
    hostname: quebec-core
    image: lyonmu/quebec:core-lts
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 512M
        reservations:
          memory: 256M
    network_mode: host
    command:
      - --log.path=/var/log
      - --log.module=core
      - --log.level=info
      - --log.max_size=10
      - --log.max_age=1
      - --log.backups=3
      - --log.console
      - --log.format=console
      - --mysql.host=127.0.0.1
      - --mysql.port=3306
      - --mysql.user=root
      - --mysql.password=root
      - --mysql.db_name=quebec
      - --redis.host=127.0.0.1:6379
      - --redis.password=root
      - --redis.db=5
      - --core.port=59024
      - --core.captcha.length=6
      - --core.captcha.width=240
      - --core.captcha.height=80
      - --core.node=24
      - --core.jwt.sign=quebec
      - --core.jwt.cache=129600
  quebec-gateway:
    restart: unless-stopped
    container_name: quebec-gateway
    hostname: quebec-gateway
    image: lyonmu/quebec:gateway-lts
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 512M
        reservations:
          memory: 256M
    network_mode: host
    command:
      - --log.path=/var/log
      - --log.module=gateway
      - --log.level=info
      - --log.max_size=10
      - --log.max_age=1
      - --log.backups=3
      - --log.console
      - --log.format=console
      - --gateway.port=59025
      - --gateway.node=24
      - --gateway.prefix=/gateway/api
