services:
  envoy-demo:
    # pull_policy: always
    restart: unless-stopped
    container_name: envoy-demo
    hostname: envoy-demo
    image: envoyproxy/envoy:distroless-v1.36-latest
    deploy:
      resources:
        limits:
          cpus: 1.00
          memory: 1024M
        reservations:
          memory: 512M
    network_mode: host
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml
      - ./certs:/opt/certs
    command:
      [
        "-c",
        "/etc/envoy/envoy.yaml",
        "--log-level",
        "info",
        "--enable-mutex-tracing",
      ]
